- if current_account&.payment_tenders&.include?(:terms)
  .checkout-payment__primary-method.checkout-payment__primary-method--terms
    .button-property
      .value= radio_button_tag 'payment', 'terms', false
      = label_tag 'payment[terms]', nil, class: 'button-property__name' do
        %span.button-property__text= t('workarea.storefront.checkouts.bill_to_my_account', account: current_account.name)
    %p.checkout-payment__primary-method-description
      %span= t('workarea.storefront.checkouts.complete_with_terms')
      %strong (#{t('workarea.storefront.accounts.available_credit')}: #{number_to_currency(current_account.available_credit)})
    .checkout-payment__primary-method-edit
      .property
        = label_tag 'terms[purchase_order_number]', nil, class: 'property__name' do
          %span.property__text= t('workarea.storefront.checkouts.purchase_order_number')
        .value
          = text_field_tag 'terms[purchase_order_number]', nil, class: 'text-box', autocorrect: 'off'
