= form_tag organization_membership_path(membership), method: 'patch', id: "membership_form_#{membership.id}", data: { unsaved_changes: '' } do
  = hidden_field_tag :return_to, request.path, id: nil

  .property.property--required
    = label_tag 'membership[role]', t('workarea.admin.fields.role'), class: 'property__name'
    = select_tag 'membership[role]', options_for_select(membership_role_options, membership.role), required: true, id: nil

  .property
    %span.property__name= t('workarea.admin.fields.default')
    =  toggle_button_for 'membership[default]', membership.default?, title_true: t('workarea.admin.organization_memberships.edit.default'), title_false: t('workarea.admin.organization_memberships.edit.not_default'), id: membership.id
    %span.property__note= t('workarea.admin.organization_memberships.edit.default_note')

  = append_partials('admin.membership_fields', membership: membership)

  = button_tag t('workarea.admin.organization_memberships.edit.save_membership'), value: 'save_membership', class: 'button button--small'
