- @title = t('workarea.storefront.accounts.memberships.edit.title')

- content_for :breadcrumbs do
  %p.breadcrumbs__node-group
    %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
      = link_to t('workarea.storefront.layouts.home'), root_path, rel: 'home', class: 'breadcrumbs__link'
    %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
      = link_to t('workarea.storefront.accounts.title', account: current_account.name), accounts_path, class: 'breadcrumbs__link'
    %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
      %span.breadcrumbs__text= t('workarea.storefront.accounts.memberships.edit.title')

.view

  %h1= t('workarea.storefront.accounts.memberships.edit.title')

  = form_tag accounts_membership_path(@membership), method: :patch, id: 'membership_form' do
    .property.property--responsive
      = label_tag 'membership[role]', nil, class: 'property__name' do
        %span.property__text= t('workarea.storefront.accounts.memberships.role')
      .value= select_tag 'membership[role]', options_for_select(membership_role_options, @membership.role)

    .grid.grid--auto
      %p.grid__cell= button_tag t('workarea.storefront.forms.save'), value: 'save_info', class: 'button'
      %p.grid__cell= link_to t('workarea.storefront.forms.cancel'), users_account_path, class: "text-button", data: { dialog_close_button: '' }
