- @title = t('workarea.storefront.accounts.addresses.new.title')

- content_for :breadcrumbs do
  %p.breadcrumbs__node-group
    %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
      = link_to t('workarea.storefront.layouts.home'), root_path, rel: 'home', class: 'breadcrumbs__link'
    %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
      = link_to t('workarea.storefront.accounts.title', account: current_account.name), accounts_path, class: 'breadcrumbs__link'
    %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
      %span.breadcrumbs__text= t('workarea.storefront.accounts.addresses.new.title')

.view

  %h1= t('workarea.storefront.accounts.addresses.new.title')

  - if @address.errors.any?
    - @address.errors.full_messages.each do |message|
      = render_message 'error', message, data: { analytics: validation_error_analytics_data('accounts').to_json }

  = form_tag accounts_addresses_path, method: 'post', id: 'address_form', data: { account_dashboard_ajax: 'addresses' } do
    = render 'workarea/storefront/shared/address_fields', label: 'address', address: @address
    .grid.grid--auto
      %p.grid__cell= button_tag t('workarea.storefront.forms.save'), value: 'save_address', class: 'button'
      %p.grid__cell= link_to t('workarea.storefront.forms.cancel'), accounts_path, class: 'text-button', data: { dialog_close_button: '' }
