- @page_title = t('workarea.admin.organization_accounts.addresses.page_title', account: @account.name)

.view
  .view__header
    .gri
      .grid__cell.grid__cell--25
        = render 'workarea/admin/releases/select'
      .grid__cell.grid__cell--50
        .view__heading
          = link_to_index_for(@account)
          %h1= link_to @account.name, url_for(@account)
      .grid__cell.grid__cell--25
        = render_aux_navigation_for(@account)

  .view__container
    = render_cards_for(@account, :addresses)

    .section
      %h2.view__heading= t('workarea.admin.organization_accounts.addresses.heading')

      - if @account.addresses.empty?
        %p.align-center= t('workarea.admin.organization_accounts.addresses.empty')
      - else
        - @account.addresses.each do |address|
          .card
            .card__body
              %p= formatted_address(address)
