- @page_title = t('workarea.admin.organization_accounts.memberships.page_title', account: @account.name)

.view
  .view__header
    .grid
      .grid__cell.grid__cell--25
        = render 'workarea/admin/releases/select'
      .grid__cell.grid__cell--50
        .view__heading
          = link_to_index_for(@account)
          %h1= link_to @account.name, url_for(@account)
      .grid__cell.grid__cell--25
        = render_aux_navigation_for(@account)

  .view__container
    = render_cards_for(@account, :memberships)

  .view__container.view__container--narrow
    .section
      %h2.view__heading= t('workarea.admin.organization_memberships.index.heading')

      - if @account.memberships.empty?
        %p.align-center
          = t('workarea.admin.organization_memberships.index.none')
      - else
        %table.table
          %thead
            %tr
              %th= t('workarea.admin.fields.name')
              %th= t('workarea.admin.fields.user_role')
              %th= t('workarea.admin.fields.default')
              %th
          %tbody
          - @account.memberships.each do |membership|
            %tr
              %td= link_to membership.user.name, user_path(membership.user)
              %td= membership.role.titleize
              %td= t("workarea.admin.#{membership.default?}")
              %td= render 'workarea/admin/organization_memberships/actions', membership: membership

    .workflow-bar
      .align-right
        = button_tag t('workarea.admin.organization_memberships.index.add_new'), id: 'add_membership', class: 'workflow-bar__button workflow-bar__button--create', data: { tooltip: { content_id: '#add_new_membership', interactive: true, trigger: 'click' }.to_json }, type: 'button', turbolinks: false
        #add_new_membership= render 'workarea/admin/organization_memberships/new', account: @account
