- @page_title = @account.name

.view
  .view__header
    .grid
      .grid__cell.grid__cell--25
        = render 'workarea/admin/releases/select'
      .grid__cell.grid__cell--50
        .view__heading
          = link_to_index_for(@account)
          %h1= @account.name
      .grid__cell.grid__cell--25
        = render_aux_navigation_for(@account)

  .view__container
    = render_cards_for(@account)
