- @page_title = t('workarea.admin.organizations.edit.page_title', organization: @organization.name)

.view
  .view__header
    .grid
      .grid__cell.grid__cell--25
        = render 'workarea/admin/releases/select'
      .grid__cell.grid__cell--50
        .view__heading
          = link_to_index_for(@organization)
          %h1= t('workarea.admin.organizations.edit.page_title', organization: @organization.name)
      .grid__cell.grid__cell--25
        = render_aux_navigation_for(@organization)

  .view__container.view__container--narrow
    - if @organization.errors.present?
      - @organization.errors.full_messages.each do |message|
        = render_message 'error', message

    = form_tag organization_path(@organization), method: :put, id: 'account_form', data: { unsaved_changes: '' } do

      .section
        .property.property--required
          = label_tag 'organization_name', t('workarea.admin.fields.name'), class: 'property__name'
          = text_field_tag 'organization[name]', @organization.name, class: 'text-box text-box--i18n', required: true

          = append_partials('admin.organization_fields', organization: @organization)

        .property
          %span.property__name
            = t('workarea.admin.fields.active')
            = inline_svg('workarea/admin/i18n.svg', class: 'svg-icon svg-icon--small') if locale_options.many? && Workarea.config.localized_active_fields
          = toggle_button_for 'organization[active]', @organization.active?

      .workflow-bar
        .grid.grid--auto.grid--right.grid--middle
          .grid__cell= button_tag t('workarea.admin.organizations.edit.button'), value: 'create_organization', class: 'workflow-bar__button workflow-bar__button--update'
