.data-card.data-card--row
  .data-card__cell
    %p.data-card__line
      %strong= t('workarea.storefront.orders.placed_at')
      %span= local_time(order.placed_at, :long)
    %p.data-card__line
      %strong= t('workarea.storefront.orders.id')
      %span= order.id
    %p.data-card__line
      %strong= t('workarea.storefront.orders.status')
      %span= order.status
    %p.data-card__line
      %strong= t('workarea.storefront.orders.items')
      %span #{order.quantity} - #{number_to_currency(order.total_price)}
    %p.data-card__line
      %strong= t('workarea.storefront.orders.placed_by')
      %span= order.user&.name
    - if order.reviewed? && !order.auto_reviewed?
      %p.data-card__line
        %strong= t('workarea.storefront.orders.reviewed_at')
        %span= local_time(order.reviewed_at, :long)
      - if order.reviewed_by.present?
        %p.data-card__line
          %strong= t('workarea.storefront.orders.reviewed_by')
          %span= order.reviewed_by.name
  .data-card__cell
    .grid.grid--auto
      - if current_membership.approver? && !order.reviewed? && current_account.require_order_approval?
        %p.grid__cell= link_to t('workarea.storefront.orders.review'), accounts_order_path(order, pending_review: local_assigns[:pending]), class: 'button button--small'
      - else
        %p.grid__cell= link_to t('workarea.storefront.orders.view'), accounts_order_path(order, pending_review: local_assigns[:pending]), class: 'button button--small'

      = append_partials('storefront.order_summary_actions', order: order)

      - order.packages.each_with_index do |package|
        - if package.tracking_number.present?
          %p.grid__cell= link_to t('workarea.storefront.orders.track_package'), package.tracking_link, target: '_blank', rel: 'noopener'
