- @title = t('workarea.storefront.accounts.orders.pending_orders')

- content_for :breadcrumbs do
  %p.breadcrumbs__node-group
    %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
      = link_to t('workarea.storefront.layouts.home'), root_path, rel: 'home', class: 'breadcrumbs__link'
    %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
      = link_to t('workarea.storefront.accounts.title', account: current_account.name), accounts_path, class: 'breadcrumbs__link'
    %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
      %span.breadcrumbs__text= t('workarea.storefront.accounts.orders.pending_orders')

.view

  %h1= t('workarea.storefront.accounts.orders.pending_orders')

  - if @orders.empty?
    %p= t('workarea.storefront.accounts.orders.no_orders_pending')

  - else
    - @orders.each do |order|
      = render 'workarea/storefront/accounts/orders/summary', order: order, pending: true
