- @title = "#{t('workarea.storefront.orders.order')} #{@order.id}"

- content_for :breadcrumbs do
  %p.breadcrumbs__node-group
    %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
      = link_to t('workarea.storefront.layouts.home'), root_path, rel: 'home', class: 'breadcrumbs__link'
    %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
      = link_to t('workarea.storefront.accounts.title', account: current_account.name), accounts_path, class: 'breadcrumbs__link'
    - if params[:pending_review].present?
      %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
        = link_to t('workarea.storefront.accounts.orders.pending_orders'), pending_accounts_orders_path, class: 'breadcrumbs__link'
    - else
      %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
        = link_to t('workarea.storefront.users.order_history'), accounts_orders_path, class: 'breadcrumbs__link'
    %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
      %span.breadcrumbs__text= t('workarea.storefront.users.order_details')

.view
  %h1.visually-hidden= t('workarea.storefront.orders.view_order')

  = append_partials('storefront.order_show')

  - if !@order.auto_reviewed? && current_membership.approver? && current_account.require_order_approval?
    .grid
      .grid__cell
        .box
          .box__header
            %h2.box__heading= t('workarea.storefront.accounts.orders.review_order')
          .box__body
            - if @order.reviewed?
              %p
                %strong= t('workarea.storefront.orders.reviewed_by')
                = @order.reviewed_by&.name || '-'
              %p= @order.review_notes
            - else
              = form_tag review_accounts_order_path(@order), method: :patch, id: 'review_order_form' do
                = hidden_field_tag :return_to, params[:pending_review].present? ? pending_accounts_orders_path : accounts_order_path

                .property
                  .value= text_area_tag :notes, nil, class: 'text-box text-box--full', placeholder: t('workarea.storefront.accounts.orders.review_notes_placeholder')
                = button_tag t('workarea.storefront.accounts.orders.approve'), name: 'approve', value: 'true', class: 'button'
                = button_tag t('workarea.storefront.accounts.orders.decline'), name: 'approve', value: 'false', class: 'button', data: { confirm: t('workarea.storefront.accounts.orders.review_decline_confirmation')}

  = render 'workarea/storefront/orders/summary', order: @order
