- @title = t('workarea.storefront.accounts.edit.title', account: @account.name)

- content_for :breadcrumbs do
  %p.breadcrumbs__node-group
    %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
      = link_to t('workarea.storefront.layouts.home'), root_path, rel: 'home', class: 'breadcrumbs__link'
    %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
      = link_to t('workarea.storefront.users.account'), users_account_path, class: 'breadcrumbs__link'
    %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
      %span.breadcrumbs__text= t('workarea.storefront.users.edit.breadcrumb')

.view

  %h1= t('workarea.storefront.accounts.edit.title', account: @account.name)

  = form_tag accounts_path, method: :patch, id: 'account_form' do

    .property.property--responsive
      = label_tag :name, nil, class: 'property__name' do
        %span.property__text= "Accounts name"
      .value= text_field_tag :name, @account.name, class: 'text-box', autocomplete: 'given-name'

    .property.property--responsive
      = label_tag :payment_terms, nil, class: 'property__name' do
        %span.property__text= "Accounts payment terms"
      = select_tag :payment_terms, options_for_select(payment_term_options, @account.payment_terms)

    .property.property--responsive
      = label_tag :tax_code, nil, class: 'property__name'
      = text_field_tag :tax_code, @account.tax_code, class: 'text-box'

    .property.property--responsive
      = label_tag :credit_limit, nil, class: 'property__name'
      = currency_symbol
      = text_field_tag :credit_limit, @account.credit_limit, class: 'text-box'


    .property.property--responsive
      .value
        = hidden_field_tag :require_account_address, false, id: nil
        = check_box_tag :require_account_address, true, @account.addresses? && @account.require_account_address?, disabled: !@account.addresses?
      .property__name
        = label_tag :require_account_address, nil do
          %span.property__text= t('workarea.storefront.accounts.require_account_address')
        - unless @account.addresses?
          .text--small= t('workarea.storefront.accounts.edit.disabled_address_requirement')

    .property.property--responsive
      .value
        = hidden_field_tag :require_account_payment, false, id: nil
        = check_box_tag :require_account_payment, true, @account.payments? && @account.require_account_payment?, disabled: !@account.payments?
      = label_tag :require_account_payment, nil, class: 'property__name' do
        %span.property__text= t('workarea.storefront.accounts.require_account_payment')
        - unless @account.payments?
          .text--small= t('workarea.storefront.accounts.edit.disabled_payment_requirement')

    .property.property--responsive
      .value
        = hidden_field_tag :require_order_approval, false, id: nil
        = check_box_tag :require_order_approval, true, @account.require_order_approval?
      = label_tag :require_order_approval, nil, class: 'property__name' do
        %span.property__text= t('workarea.storefront.accounts.require_order_approval')

    .grid.grid--auto
      %p.grid__cell= button_tag t('workarea.storefront.forms.save'), value: 'save_info', class: 'button'
      %p.grid__cell= link_to t('workarea.storefront.forms.cancel'), users_account_path, class: "text-button", data: { dialog_close_button: '' }
