- @title = t('workarea.storefront.users.account')

- content_for :breadcrumbs do
  %p.breadcrumbs__node-group
    %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
      = link_to t('workarea.storefront.layouts.home'), root_path, rel: 'home', class: 'breadcrumbs__link'
    %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
      %span.breadcrumbs__text= t('workarea.storefront.accounts.title', account: @account.name )

.view
  - if available_memberships.many?
    .grid.grid--right.grid--auto
      .grid__cell
        = form_tag membership_path, method: 'patch', id: 'switch_account_form', class: 'inline-form' do
          .inline-form__cell= label_tag 'membership_id', t('workarea.storefront.accounts.switch_account')
          .inline-form__cell= select_tag 'membership_id', options_for_select(membership_options, current_membership.id), data: { form_submitting_control: '' }

  %h1= t('workarea.storefront.accounts.title', account: @account.name)

  .grid.grid--large
    .grid__cell.grid__cell--50-at-medium
      .box
        .box__header
          - if current_membership.administrator?
            .box__action= link_to t('workarea.storefront.forms.update'), edit_accounts_path, class: 'button', data: { dialog_button: '' }
          %h2.box__heading= t('workarea.storefront.users.details')
        .box__body
          %table.table
            %tbody
              %tr
                %th
                  %span= t('workarea.storefront.accounts.name')
                %td= @account.name
              - if @account.tax_code.present?
                %tr
                  %td
                    = "Tax code"
                  %td
                    = @account.tax_code

              - if @account.allows_terms?
                %tr
                  %th
                    %span= t('workarea.storefront.accounts.credit_limit')
                  %td
                    - if @account.credit_limit.present?
                      = number_to_currency @account.credit_limit
                    - else
                      = 'None'
                - if @account.payment_terms.present?
                  %tr
                    %td
                      = "Payment terms"
                    %td
                      = @account.payment_terms


                %tr
                  %th
                    %span= t('workarea.storefront.accounts.balance')
                  %td
                    - if current_membership.approver?
                      = link_to number_to_currency(@account.balance), transactions_accounts_path, data: { dialog_button: '' }
                    - else
                      = number_to_currency @account.balance
                %tr
                  %th
                    %span= t('workarea.storefront.accounts.available_credit')
                  %td= number_to_currency @account.available_credit
              %tr
                %th
                  %span= t('workarea.storefront.accounts.require_account_address')
                %td= @account.require_account_address? ? 'Yes' : 'No'
              %tr
                %th
                  %span= t('workarea.storefront.accounts.require_account_payment')
                %td= @account.require_account_payment? ? 'Yes' : 'No'
              %tr
                %th
                  %span= t('workarea.storefront.accounts.require_order_approval')
                %td= @account.require_order_approval? ? 'Yes' : 'No'
              = append_partials('storefront.show_organization_account_details', account: @account)

      .box
        .box__header
          - if current_membership.administrator?
            .box__action= link_to t('workarea.storefront.accounts.memberships.add_new'), new_accounts_membership_path, class: 'button', data: { dialog_button: '' }
          %h2.box__heading= t('workarea.storefront.accounts.memberships.title')

        .box__body
          - unless @account.memberships_count.positive?
            = t('workarea.storefront.accounts.memberships.none')
          - else
            %table.table
              %thead
                %tr
                  %th Name
                  %th Role
                  %th
              %tbody
                - @account.memberships.each do |membership|
                  %tr
                    %td
                      - if current_user.id != membership.user.id && current_membership.administrator?
                        = link_to membership.user_name, edit_accounts_membership_path(membership), data: { dialog_button: '' }
                      - else
                        = membership.user_name
                    %td= membership.role
                    %td
                      - if current_user.id != membership.user.id && current_membership.administrator?
                        = form_tag accounts_membership_path(membership), method: 'delete' do
                          = button_tag t('workarea.storefront.forms.delete'), class: 'text-button'

      .box
        .box__header
          - if current_membership.administrator?
            .box__action= link_to t('workarea.storefront.users.add_address'), new_accounts_address_path, class: 'button', data: { dialog_button: '' }
          %h2.box__heading= t('workarea.storefront.users.addresses')
        .box__body
          - unless @account.has_default_addresses?
            = t('workarea.storefront.users.no_saved_addresses')
          - else
            .grid.grid--large
              - @account.addresses.each do |address|
                .grid__cell.grid__cell--50-at-medium
                  .data-card
                    .data-card__cell
                      %p.data-card__line= formatted_address(address)

                    - if current_membership.administrator?
                      .data-card__cell
                        .grid.grid--auto
                          .grid__cell= link_to t('workarea.storefront.forms.edit'), edit_accounts_address_path(address), class: 'button button--small', data: { dialog_button: '' }
                          = form_tag accounts_address_path(address), method: 'delete', class: 'grid__cell' do
                            = button_tag t('workarea.storefront.forms.delete'), class: 'button button--small'

      .box
        .box__header
          - if current_membership.administrator?
            .box__action= link_to t('workarea.storefront.users.add_credit_card'), new_accounts_credit_card_path, class: 'button', data: { dialog_button: '' }
          %h2.box__heading= t('workarea.storefront.users.credit_cards')

        .box__body
          - unless @account.has_credit_card?
            = t('workarea.storefront.users.no_saved_credit_cards')
          - else
            .grid.grid--large
              - @account.credit_cards.each do |credit_card|
                .grid__cell.grid__cell--50-at-medium
                  .data-card
                    .data-card__cell
                      %p.data-card__line.data-card__credit-card{ class: (credit_card.default?) ? 'data-card__credit-card--default' : nil }
                        = credit_card_issuer_icon(card_icon_name(credit_card.issuer))
                        %span.data-card__credit-card-number
                          = t('workarea.storefront.credit_cards.summary', issuer: nil, number: credit_card.display_number.slice(-4..-1))
                      %p.data-card__line
                        %strong= t('workarea.storefront.credit_cards.expires')
                        %span
                          = t('workarea.storefront.credit_cards.expiry', month: credit_card.month, year: credit_card.year)
                          - if credit_card.expired?
                            %strong= t('workarea.storefront.credit_cards.expired')
                      %p.data-card__line
                        %strong= t('workarea.storefront.credit_cards.name_on_card')
                        %span #{credit_card.first_name} #{credit_card.last_name}
                    - if current_membership.administrator?
                      .data-card__cell
                        .grid.grid--auto
                          .grid__cell= link_to t('workarea.storefront.forms.edit'), edit_accounts_credit_card_path(credit_card), class: 'button button--small', data: { dialog_button: '' }
                          = form_tag accounts_credit_card_path(credit_card), method: 'delete', class: 'grid__cell' do
                            = button_tag t('workarea.storefront.forms.delete'), class: 'button button--small'

        = append_partials('storefront.organization_account_section_left', account: @account)

    .grid__cell.grid__cell--50-at-medium
      - if @account.require_order_approval?
        .box
          .box__header
            .box__action= link_to t('workarea.storefront.accounts.orders.view_all'), pending_accounts_orders_path, class: 'button'
            %h2.box__heading
              = t('workarea.storefront.accounts.orders.pending_orders')
              - if @account.pending_orders.any?
                = "(#{@account.pending_orders.total_count})"
          .box__body
            - unless @account.pending_orders.any?
              = t('workarea.storefront.accounts.orders.no_orders_pending')
            - else
              - @account.pending_orders.each do |order|
                = render 'workarea/storefront/accounts/orders/summary', order: order

      .box
        .box__header
          .box__action= link_to t('workarea.storefront.users.order_history'), accounts_orders_path, class: 'button'
          %h2.box__heading= t('workarea.storefront.users.recent_orders')
        .box__body
          - unless @account.recent_orders.any?
            = t('workarea.storefront.users.no_orders')
          - else
            - @account.recent_orders.each do |order|
              = render 'workarea/storefront/accounts/orders/summary', order: order


      .box
        .box__header
        .box__action= link_to "Edit", edit_user_in_account_path, class: 'button', data: { dialog_button: '' }
        %h2.box__heading= "User data"
        .box__body
          - @user = Workarea::User.find(current_membership.user_id)
          %table.table
            %tbody
              %tr
                %td
                  = "Email"
                %td
                  = label_tag :email, @user.email, autocomplete: 'given-name'
              %tr
                %td
                  = "Name"
                %td
                  = label_tag :name, @user.name, autocomplete: 'given-name'

      - if current_membership.approver?
        .box
          .box__header
          %h2.box__heading= "Request List"
          .box__body
            - unless Workarea::Organization::JoinRequest.all.any?
              = "No request"
            -else
              %table.table
                %thread
                  %tr
                    %th Email
                    %th
                    %th
                %tbody
                  - Workarea::Organization::JoinRequest.all.each do |request|
                    - if request.account_id == @account.id
                      %tr
                        %td
                          = request.email
                        %td
                          = form_tag approve_path do
                            = button_tag 'approve' ,value: request.id, class: 'text-button'
                        %td
                          = form_tag reject_path do
                            = button_tag  'reject' ,value: request.id, class: 'text-button'


      = append_partials('storefront.organization_account_section_right', account: @account)

    = append_partials('storefront.organization_account_grid_cell', account: @account)

  = append_partials('storefront.organization_account_section', account: @account)
