- @title = t('workarea.storefront.accounts.transactions.title')

- content_for :breadcrumbs do
  %p.breadcrumbs__node-group
    %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
      = link_to t('workarea.storefront.layouts.home'), root_path, rel: 'home', class: 'breadcrumbs__link'
    %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
      = link_to t('workarea.storefront.accounts.title', account: current_account.name), accounts_path, class: 'breadcrumbs__link'
    %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
      %span.breadcrumbs__text= t('workarea.storefront.accounts.transactions.title')

.view

  %h1= t('workarea.storefront.accounts.transactions.title')

  - if @transactions.empty?
    %p.align-center= t('workarea.storefront.accounts.transactions.none')
  - else
    %table.table
      %thead
        %tr
          %th= t('workarea.storefront.accounts.transactions.action')
          %th= t('workarea.storefront.accounts.transactions.date')
          %th.align-right= t('workarea.storefront.accounts.transactions.amount')
      %tbody
      - @transactions.each do |transaction|
        %tr
          %td= transaction.action.titleize
          %td= local_time(transaction.created_at)
          %td.align-right= number_to_currency(transaction.amount)
